<h1>Destinations</h1>

<p>
  <button type="button"><a href="/destinations/new">Add new destination</a></button>

<table>
  <tr>
    <th></th>
    <th></th>
    <th>Visited?</th>
    <th>Destination</th>
  </tr>
  <% for destination in @destinations  %>
  <tr>
    <td>
      <form action="/destinations/<%= destination.id %>/edit" method="GET">
        <input type="image" id="image" alt="Edit" src="/images/edit.png" />
      </form>
    </td>
    <td>
      <form action="/destinations/<%= destination.id %>/delete" method="POST">
        <input type="image" id="image" alt="Delete" src="/images/delete.png" />
      </form>
    </td>



    <% if destination.is_visited == true %>
    <td>
      <input type="image" id="image" alt="Visited" src="/images/visited.png">
    </td>
    <% else %>
    <td>
      <input type="image" id="image" alt="Not visited" src="/images/not_visited.png">
    </td>
    <% end %>
    <td><a href="/cities/<%= destination.city.id %>"><%= destination.city.name %></a>, <a href="/countries/<%= destination.city.country.id %>"><%= destination.city.country.name %></a></td>

  </tr>
    <% end %>
</table>
